@media screen and (max-width: 780px) {

    /* btn */
    .btn_form_login
    {
        cursor: initial;
    }
    /* login */
    .icone_form_login
    {
        cursor: initial;
    }
    .div_login
    {
        width: 95%;
        overflow: auto;
    }
    .slide_login
    {
        width: 100%;
        height: auto;
    }
    .info_login
    {
        height: 250px;
    }
    .div_form_login
    {
        height: auto;
    }
    .titre_login_form
    {
        padding: 5px 0px;
    }
    /* banniere */
    .bouton_entete_page
    {
        cursor: initial;
        display: inline-block;
        background: var(--base_1_couleur);
        color: var(--blanc_1);
        border: none;
        border-radius: 5px;
        padding: 5px 5px;
        font-size: 14px;
        margin-right: 5px;
    }
    .logo_entete_page
    {
        width: 15%;
    }
    nav
    {
        display: none;
    }
    nav.mobile
    {
        display: block;
        width: 100%;
        height: auto;
    }
    .div_list_nav_entete_page.mobile
    {
        display: block;
        width: 100%;
    }
    .list_nav_entete_page.mobile
    {
        display: block;
        width: 100%;
        padding: 10px 10px;
        margin: 10px 0px;
        background: var(--blanc);
        border-radius: 10px;
    }
    .div_barre_de_recherche_entete_page
    {
        width: 50%;
    }
    .div_profile_actions_entete_page
    {
        width: 35%;
    }
    .div_icone_notif_entete_page
    {
        display: none;
        cursor: initial;
    }
    .div_icone_notif_entete_page.menu,
    .div_icone_notif_entete_page.mobile
    {
        display: inline-flex;
    }
    .nombre_notif_entete_page
    {
        top: 5px;
        right: -5px;
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
    .div_profile_entete_page
    {
        display: none;
    }
    .div_profile_entete_page.mobile
    {
        display: inline-flex;
    }
    .profile_entete_page
    {
        border: 1px solid var(--noir);
    }
    .parent_menu_mobile
    {
        display: none;
    }
    .parent_menu_mobile.active
    {
        display: block;
    }
    .notification_banniere_menu_mobile
    {
        width: 70%;
    }
    .sortie_banniere_menu_mobile
    {
        width: 30%;
        text-align: right;
    }
    /* categorie accueil */
    .voir_plus_list_categorie_gestion_categorie
    {
        cursor: initial;
    }
    .affichage_des_categorie_cours
    {
        width: 100%;
    }
    .titre_gestion_categorie_cours
    {
        margin-bottom: 20px;
    }
    .titre_gestion_categorie_cours:active
    {
        opacity: .5;
    }
    .icone_titre_gestion_categorie_cours
    {
        display: inline;
    }
    .div_list_categorie_gestion_categorie,
    .div_details_concours
    {
        display: none;
    }
    .div_list_categorie_gestion_categorie.active,
    .div_details_concours.active
    {
        display: block;
    }
    /* file d'actualité */
    .div_file_actualite
    {
        width: 100%;
    }
    .div_button_badge_file_actualite
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .btn_badge_file_actualite
    {
        width: auto;
        margin: 0 0;
        display: block;
        cursor: initial;
    }
    .detail_type_publication
    {
        cursor: initial;
    }
    .detail_choix_categorie_file_actualite
    {
        cursor: initial;
    }
    .div_image_profile_publier_file_actualite
    {
        width: 15%;
    }
    .div_input_publier_file_actualite
    {
        width: 85%;
    }
    .profile_publication_video
    {
        width: 15%;
    }
    .details_profile_publication_video
    {
        width: 85%;
    }
    /* compte */
    .div_parent_slide_profile
    {
        width: 100%;
    }
    .div_parent_publication_compte_utilisateur
    {
        width: 100%;
    }
    .bouton_changer_photo_de_profile
    {
        cursor: initial;
    }
    .zone_de_crop_changer_photo_de_profile
    {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    /* pop up */
    .btn_new_image_publication_pop_up_container
    {
        cursor: initial;
    }
    .div_pop_up_container
    {
        width: 90%;
        padding: 20px;
    }







    .null{
        display: none;
    }
}