body
{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}

*{
    --blanc_1: #ffffff;
    --blanc_2: #f9feff;
    --blanc: #F5FEFF;
    --noir: #151A1F;
    --griz: #494947;
    --griz_faible: #ededed;
    --base_1_couleur: #31487a;
    --base_1_couleur_nuance_1: #486ab5;
    --base_1_couleur_nuance_2: #b5cdff;
    --base_2_couleur: #8fb3e2;
    --base_3_couleur: #1f1539;
    --base_4_couleur: #9e7bf7;
    --base_5_couleur: #ece5fd;
    --vert: #4eb365ff;
    --vert_faible: #d6ffe0;
    --vert_nuance_1: #3c844dff;
    --bleu: #005eff;
    --rouge: #dc3545;
    --jaune: #F8C61E;
    box-sizing: border-box;
    --box-shadow : rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    --fond_noir_transparent : rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
}
/* btn */
.rotate
{
    display: inline-block;
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.btn_form_login
{
    width: 100%;
    outline: none;
    background: var(--base_1_couleur);
    color: var(--blanc);
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
}
.btn_form_login:active
{
    opacity: .5;
}
/* login */
.container_login
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blanc_1);
}
.div_login
{
    width: 80%;
    background: var(--blanc);
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}
.div_slide_login
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.slide_login
{
    width: 50%;
    height: 100%;
    padding: 10px;
}
.info_login
{
    width: 100%;
    height: 100%;
    background: #31487A;
    background: linear-gradient(117deg, var(--base_2_couleur) 20%, var(--base_1_couleur) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.logo_info_login
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: var(--blanc_1);
    font-size: 20px;
    font-weight: 800;
}
.logo_info_login
img
{
    width: 100px;
    padding: 10px;
    background: var(--blanc_1);
    border-radius: 10px;
}
.div_texte_login
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: var(--blanc_1);
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 10px 10px;
}
.petit_text_login
{
    font-size: 14px;
    margin-bottom: 20px;
}
.grand_text_login
{
    font-size: 16px;
    font-weight: 800;
}
.div_form_login
{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
}
.titre_login_form
{
    padding: 20px 0px;
    margin: 0 0;
    font-size: 30px;
    font-weight: 800;
    color: var(--base_1_couleur);
}
.div_form_login
{
    width: 100%;
}
.form_login
{
    width: 100%;
}
.label_form_login
{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--noir);
    margin-top: 10px;
    display: block;
    width: 100%;
}
.input_textarea_form_login
{
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 16px;
    color: var(--noir);
    background: var(--blanc_1);
    height: 100px;
    overflow: auto;
    border: 1px solid var(--griz);
    border-radius: 5px;
}
.div_input_form_login
{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.input_form_login
{
    background: var(--blanc_1);
    color: var(--noir);
    font-size: 16px;
    outline: none;
    border: none;
    border: 1px solid var(--griz);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
.input_form_login.password_form_login
{
    padding-right: 35px;
}
.icone_form_login
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    font-size: 14px;
    color: var(--griz);
    cursor: pointer;
}
.icone_form_login:active
{
    opacity: .5;
    border-left: 1px solid var(--griz);
}
.mot_de_passe_oublie_form_login
{
    width: 100%;
    text-align: right;
}
.mot_de_passe_oublie_form_login
a
{
    font-size: 14px;
    color: var(--bleu);
    outline: none;
    text-decoration: underline;
}
.texte_form_login
{
    font-size: 16px;
    color: var(--noir);
    margin: 10px 0px;
    text-align: center;
}
.texte_form_login
a
{
    color: var(--bleu);
    outline: none;
    text-decoration: underline;
}
.profile_editer_profile
{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_editer_profile
img
{
    width: 100px;
    border-radius: 50%;
}

/* banniere */
header
{
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    z-index: 5;
}
.div_entete_page
{
    position: absolute;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--blanc_1);
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin: 0 0;
}
.separateur_banniere
{
    height: 65px;
}
.logo_entete_page
{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_entete_page
img
{
    height: 35px;
}
.logo_entete_page
a
{
    font-size: 20px;
    color: var(--base_1_couleur);
    font-weight: 800;
    outline: none;
    text-decoration: none;
}
nav
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.div_list_nav_entete_page
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_nav_entete_page
{
    display: inline-block;
    margin: 0 5px;
}
.list_nav_entete_page
a
{
    font-size: 14px;
    color: var(--noir);
    outline: none;
    text-decoration: none;
    padding: 0px 0px;
}
.list_nav_entete_page
a:hover
{
    color: var(--base_2_couleur);
}
.div_barre_de_recherche_entete_page
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
}
.input_recherche_entete_page
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid var(--griz);
    padding: 5px;
    color: var(--noir);
    font-size: 16px;
    padding-right: 35px;
    outline: none;
}
.icone_input_recherche_entete_page
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}
.div_profile_actions_entete_page
{
    width: 25%;
    height: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}
.profile_actions_entete_page
{
    width: 100%;
    height: auto;
    padding: 0px 10px;
}
.bouton_entete_page
{
    display: inline-block;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}
.bouton_entete_page:active
{
    opacity: .5;
}
.div_icone_notif_entete_page
{
    height: 100%;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    position: relative;
    cursor: pointer;
}
.div_icone_notif_entete_page:active
{
    opacity: .5;
}
.div_icone_notif_entete_page.menu
{
    display: none;
}
.div_icone_notif_entete_page
i
{
    font-size: 18px;
    color: var(--noir);
}
.nombre_notif_entete_page
{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background: var(--rouge);
    color: var(--blanc_1);
    font-weight: 600;
    border-radius: 50%;
}
.div_profile_entete_page
{
    height: 100%;
    width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.profile_entete_page
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}
.profile_entete_page
img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.parent_menu_mobile
{
    display: none;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.background_menu_mobile
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.menu_mobile
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--blanc_1);
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
    padding-top: 65px;
}
.banniere_menu_mobile
{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    background: var(--blanc);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* categorie accueil */
.parent_container_page_accueil
{
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: var(--blanc_2);
}
.affichage_des_categorie_cours
{
    width: 25%;
    padding: 10px;
}
.sous_affichage_des_categorie_cours
{
    background: var(--blanc_1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.titre_gestion_categorie_cours
{
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    color: var(--noir);
}
.icone_titre_gestion_categorie_cours
{
    display: none;
}
.div_list_categorie_gestion_categorie
{
    width: 100%;
    padding: 10px 0px;
}
.list_categorie_gestion_categorie
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px;
}
.nom_categorie_gestion_categorie
{
    width: 70%;
    text-align: left;
    font-size: 16px;
    color: var(--noir);
}
.nombre_categorie
{
    width: 30%;
    padding: 0px 10px;
    text-align: right;
}
.nombre_categorie
span
{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    border-radius: 50%;
}
.voir_plus_list_categorie_gestion_categorie
{
    width: 100%;
    color: var(--bleu);
    cursor: pointer;
}
.voir_plus_list_categorie_gestion_categorie:active
{
    opacity: .5;
}
.details_concours
{
    display: block;
    background-color: var(--blanc);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    text-decoration: none;
    color: var(--noir);
    outline: none;
}
.details_concours.populaire_concours
{
    background-color: var(--base_5_couleur);
}
.div_entete_concours
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.badge_concours
{
    width: 40%;
}
.badge_concours
span
{
    background: var(--base_1_couleur_nuance_2);
    color: var(--base_1_couleur);
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}
.populaire_concours
.badge_concours
span
{
    background: var(--base_4_couleur);
    color: var(--blanc_1);
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}
.date_concours
{
    width: 60%;
    text-align: right;
    font-size: 14px;
}
.titre_concours
{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--noir);
    margin: 10px 0px;
}
.text_concours
{
    font-size: 14px;
    color: var(--noir);
    margin: 10px 0px;
}
.div_pied_concours
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 10px 0px;
}
.nombre_participants
{
    width: 50%;
    color: var(--noir);
    text-align: left;
}
.badge_pied_concours
{
    width: 50%;
    text-align: right;
}
.badge_pied_concours
span
{
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    padding: 5px;
    border-radius: 10px;
}
.populaire_concours
.badge_pied_concours
span
{
    background: var(--base_3_couleur);
    color: var(--blanc_1);
    padding: 5px;
    border-radius: 10px;
}
/* file d'actualité */
.div_file_actualite
{
    width: 75%;
    padding: 10px;
    display: block;
}
.div_badge_file_actualite
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: auto;
    padding: 10px;
    background: #31487A;
    background: linear-gradient(117deg, var(--base_1_couleur_nuance_1) 0%, rgba(31, 21, 57, 0.74) 100%);
    color: var(--blanc_1);
    border-radius: 10px;
}
.text_details_badge_file_actualite
{
    padding: 10px;
    width: 75%;
}
.titre_badge_file_actualite
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.texte_badge_file_actualite
{
    font-size: 16px;
    margin-bottom: 10px;
}
.div_button_badge_file_actualite
{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.btn_badge_file_actualite
{
    display: inline-block;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--base_1_couleur);
    border-radius: 10px;
    background: var(--blanc_1);
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
}
.btn_badge_file_actualite.main
{
    background: var(--base_1_couleur_nuance_1);
    color: var(--blanc_1);
}
.btn_badge_file_actualite:active
{
    opacity: .5;
}
.logo_details_badge_file_actualite
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--blanc_1);
    font-weight: 800;
}
.div_choix_categorie_file_actualite
{
    width: 100%;
    margin: 20px 0px;
}
.choix_categorie_file_actualite
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background: var(--blanc_1);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
}
.detail_choix_categorie_file_actualite
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.detail_choix_categorie_file_actualite:active
{
    opacity: .5;
}
.background_detail_choix_categorie_file_actualite
{
    position: absolute;
    width: 25%;
    top: 0;
    left: 0%;
    bottom: 0;
    border-bottom: 5px solid var(--base_1_couleur_nuance_1);
    z-index: 1;
    transition: .5s;
}
.div_publier_file_actualite
{
    margin: 10px 0px;
    background: var(--blanc_1);
    border-radius: 10px;
    width: 100%;
    box-shadow: var(--box-shadow);
}
.profile_text_publier_file_actualite
{
    padding: 10px;
}
.parent_input_profile_publier_file_actualite
{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--griz);
    display: flex;
    flex-wrap: wrap;
}
.div_image_profile_publier_file_actualite
{
    width: 10%;
    padding: 0px 10px;
}
.div_image_profile_publier_file_actualite
img
{
    width: 100%;
    border-radius: 50%;
}
.div_input_publier_file_actualite
{
    width: 90%;
    padding: 0px 10px;
}
.div_input_publier_file_actualite
input
{
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 5px;
    border: none;
    background: var(--griz_faible);
    color: var(--noir);
    border-radius: 20px;
    outline: none;
}
.div_type_publication
{
    margin: 5px 0px;
}
.detail_type_publication
{
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: var(--noir);
    cursor: pointer;
}
.detail_type_publication:active
{
    opacity: .5;
}
.div_publication_video
{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--blanc_1);
    margin: 30px 0px;
}
.div_profile_publication_video
{
    display: flex;
    flex-wrap: wrap;
}
.profile_publication_video
{
    width: 10%;
    padding: 0px 10px;
}
.profile_publication_video
img
{
    width: 100%;
    border-radius: 50%;
}

.details_profile_publication_video
{
    width: 90%;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.nom_profile_publication_video,
.nom_profile_publication_video
a
{
    width: 100%;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--noir);
    text-decoration: none;
    outline: none;
}
.badge_publication_video
{
    background: var(--blanc);
    color: var(--base_1_couleur);
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
}
.badge_publication_video.entrepreneur
{
    background: var(--vert_faible);
    color: var(--vert_nuance_1);
}
.texte_profile_publication_video
{
    width: 100%;
    font-size: 12px;
    color: var(--griz);
    padding: 10px 0px;
}
.div_tags_publication_video
{
    margin: 10px 0px;
}
.div_tags_publication_video
a
{
    outline: none;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    background: var(--griz_faible);
    color: var(--noir);
    border-radius: 5px;
    font-size: 12px;
}
.div_video_publication_video
{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}
.div_video_publication_video
video
{
    width: 100%;
    height: 400px;
    display: block;
    background: var(--noir);
    padding: 10px;
    border-radius: 10px;
}
.comment_video_publication_video
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.like_comment_partage_video_publication_video
{
    width: 50%;
    text-align: left;
}
.details_like_comment_partage_video_publication_video
{
    display: inline;
    font-size: 12px;
    color: var(--griz);
    margin-right: 5px;
}
.nombre_de_vu_publication_video,
.bouton_action_publication_video
{
    width: 50%;
    text-align: right;
    font-size: 12px;
    color: var(--griz);
}
.bouton_action_publication_video
a
{
    outline: none;
    text-decoration: none;
    background: var(--base_1_couleur);
    padding: 5px;
    color: var(--blanc_1);
    border-radius: 5px;
}
.div_images_publication_video
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 10px;
}
.div_images_publication_video.full
{
    grid-template-columns: repeat(1, 1fr);
}
.publication_image
{
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publication_image
img
{
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.publication_image.full
{
    height: 500px;
}
.publication_image
{
    position: relative;
}
.plus_publication_image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--fond_noir_transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus_publication_image
p
{
    font-size: 30px;
    font-weight: 800;
    color: var(--blanc_1);
}
.div_detail_publication_job
{
    width: 100%;
    padding: 10px;
}
.div_icone_publication_job
{
    display: flex;
    flex-wrap: wrap;
}
.icone_publication_job
{
    width: 10%;
    padding: 0px 10px;
}
.icone_publication_job
i
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    font-size: 20px;
}
.details_publication_job
{
    width: 90%;
    padding: 0px 10px;
}
.nom_details_publication_job
{
    font-size: 16px;
    font-weight: bold;
    color: var(--noir);
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
.tags_details_publication_job
{
    padding: 5px 0px;
}
.tags_details_publication_job
span
{
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    color: var(--base_1_couleur);
    background: var(--blanc);
    margin-right: 5px;
}
.div_bouton_publication_job
{
    padding: 10px 0px;
    width: 100%;
}
.div_bouton_publication_job
a
{
    display: block;
    width: 100%;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    outline: none;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.div_texte_publication_job
{
    width: 100%;
}
.texte_publication_job
{
    padding: 0 0;
    margin: 0 0;
    font-size: 16px;
    color: var(--noir);
    padding: 20px 0px;
}
.texte_publication_job
a.hashtag
{
    color: var(--noir);
    background: var(--blanc);
    text-decoration: none;
    padding: 2.5px;
    font-size: 14px;
    border-radius: 5px;
}

/* compte */
.corps_compte
{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.div_parent_slide_profile
{
    width: 25%;
    padding: 10px;
}
.div_profile_compte
{
    width: 100%;
    margin-bottom: 10px;
}
.div_image_profile_compte
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.div_image_profile_compte
img
{
    width: 100px;
    border-radius: 50%;
}
.nom_profile_compte
{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--noir);
    text-align: center;
    padding: 5px 0px;
}
.description_profile_compte
{
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: var(--noir);
}
.div_bouton_profile_compte
{
    padding: 20px 0px;
    text-align: center;
}
.div_bouton_profile_compte
a
{
    display: inline-block;
    padding: 10px;
    background: var(--griz_faible);
    color: var(--noir);
    text-decoration: none;
    border-radius: 10px;
    margin: 5px 5px;
}
.div_bouton_profile_compte
a:active
{
    opacity: .5;
}
.div_bouton_profile_compte
a.active
{
    background: var(--base_1_couleur);
    color: var(--blanc_1);
}
.parent_certificat_competence_profile_compte
{
    padding: 10px;
    margin: 10px 0px;
    background: var(--griz_faible);
    border-radius: 10px;
}
.div_competence_profile_compte
{
    margin: 10px 0px;
}
.titre_competence_profile_compte
{
    font-size: 16px;
    color: var(--noir);
    padding: 10px 0px;
    font-weight: 600;
}
.details_competence_profile_compte
span
{
    display: inline-block;
    padding: 5px;
    background: var(--blanc);
    border-radius: 5px;
    margin: 5px;
}
.details_certificat_profile_compte
{
    width: 100%;
    position: relative;
    padding-left: 35px;
}
.details_certificat_profile_compte
i
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--jaune);
}
.div_parent_publication_compte_utilisateur
{
    width: 75%;
    padding: 10px;
}
.div_boutton_logout
{
    width: 100%;
    text-align: right;
    padding: 10px;
}
.bouton_logout
{
    outline: none;
    text-decoration: none;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.bouton_logout:active
{
    opacity: .5;
}
.div_changer_photo_de_profile
{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}
.bouton_changer_photo_de_profile
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    outline: none;
    border: none;
}
.bouton_changer_photo_de_profile:active
{
    opacity: .5;
}
.div_changer_photo_de_profile
input
{
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.zone_de_crop_changer_photo_de_profile
{
    visibility: hidden;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    height: 400px;
}
.zone_de_crop_changer_photo_de_profile.active
{
    visibility: visible;
}

/* pop up */
.div_parent_pop_up
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 7;
    display: none;
}
.div_parent_pop_up.active
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background_pop_up
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.div_pop_up_container
{
    width: 70%;
    height: 80vh;
    overflow: auto;
    background: var(--blanc_1);
    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 10px;
    z-index: 2;
}
.titre_pop_up_container
{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    color: var(--noir);
    font-weight: 600;
    text-align: center;
}
.charger_image_publication_pop_up_container
{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
.charger_image_publication_pop_up_container
input
{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.btn_new_image_publication_pop_up_container
{
    display: inline-block;
    background: var(--base_1_couleur);
    color: var(--blanc_1);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.btn_new_image_publication_pop_up_container:active
{
    opacity: .5;
}
.div_crop_image_pop_up_container
{
    width: 100%;
    height: 300px;
    margin: 10px 0px;
}
.div_zone_de_crop_photo_de_publication
{
    display: none;
    width: 100%;
    padding: 10px;
}
.div_zone_de_crop_photo_de_publication.active
{
    display: block;
}
.div_text_publication_pop_up_container
{
    margin: 10px 0px;
    width: 100%;
}
.div_text_publication_pop_up_container
textarea
{
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: var(--noir);
    height: 100px;
    overflow: auto;
}
.validation_publication_pop_up_container
{
    padding: 10px 0px;
    text-align: right;
}
.validation_publication_pop_up_container
button
{
    display: inline-flex;
    outline: none;
    border: none;
    color: var(--blanc_1);
    background: var(--base_1_couleur);
    padding: 10px;
    border-radius: 10px;
}
.validation_publication_pop_up_container
button:active
{
    opacity: .5;
}











.null{
    display: none;
}
